
.my-health-container {
  margin: 0 10%;
}

.health-h3 {
  padding: 10px;
  margin-bottom: -10px;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}

.health-form {
  margin: 3% 40%;
  width: 35rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.btn-submit {
  margin: 0 20px;
}

.delete-btn {
  width: 6rem;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
}
