
.daily-tracker-body {
  margin: 0 20px;
}

.daily-h2 {
  text-align: center;
}

p.tagline {
  text-align: center;
}

@media only screen and (min-width: 768px) {
.daily-tracker-body {
  margin: 0 30%;
}

.daily-tracker-form {
  margin: 20px auto;
}

}
