
@media only screen and (max-width: 767px) {
  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .tagline {
    text-align: center;
    margin: 0 auto;
  }
  .daily-tracker-form {
    margin: 20px;
  }

  h5 {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .daily-h2 {
    text-align: center;
    margin-top: 30px;
  }

  .tracker-form {
    margin: 0 10%;
  }

  .daily-form {
    margin-top: 60px;
    z-index: 1;
  }

  .daily-tracker-form {
    width: 40rem;
  }

  .daily-btn {
    margin-left: 18rem;
  }

} 
